header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    /* background-color: burlywood;*/
    /* background-color: darkolivegreen;*/
    /* background-color: mediumseagreen;*/
}

header .right-side {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 50px;
    font-size: 1.4rem;
    position: relative;
}

header .right-side .links {
    display: flex;
}

header .menu-icon {
    display: none;
}

header .right-side .search-button {
    padding-left: 10px;
}

header .right-side .search-button-container {
    margin-left: 0px;
}

header .right-side .search-button::before {
    background: transparent url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a5e9a%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E") repeat scroll 0 0;
    content: "";
    height: 1rem;
    right: 100%;
    margin-top: -.5rem;
    position: absolute;
    top: 50%;
    width: 1rem;
}

header .left-side {
    margin: 10px;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    header .right-side {
      position: relative;
      display: inline-block;
      align-items: center;
      margin: 10px;
    }
    header .left-side {
        margin-left: 12px;
    }
    header .right-side .links {
          display: none;
          position: absolute;
          right: 0;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
    }
    header .right-side .menu-icon {
        display: block;
    }

    header .right-side .search-button::before {
        left: 50%;
        top: 20px;
        height: 1.4rem;
        width: 1.4rem;
    }

    header .right-side .search-button-container {
        margin: 10px;
    }

    header .right-side .search-button {
        padding: 0px;
    }
}

li {
    margin: 10px;
    display: flex;
    align-items: center;
}

header  a {
    text-decoration: none;
    color: black;
}

