header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    /* background-color: burlywood;*/
    /* background-color: darkolivegreen;*/
    /* background-color: mediumseagreen;*/
}

header .right-side {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 50px;
    font-size: 1.4rem;
}

header .left-side {
    margin: 10px;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    header .right-side {
        margin-right: 12px;
    }
    header .left-side {
        margin-left: 12px;
    }
}

li {
    margin: 10px;
    display: flex;
    align-items: center;
}

header  a {
    text-decoration: none;
    color: black;
}
