@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin-right: 200px;
    margin-left: 200px;
    justify-self: center;
}

a {
    text-decoration: none;
}

.submission {
    padding: 10px;
    display: flex;
}

.submission-info {
    display: flex;
    flex-direction: column;
}

.upvote-container {
    margin-right: 5px;
}

.upvote {
    padding-top: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
}

.submission-info .author {
    font-size: 16px;
}

.submission-info .title {
    font-size: 25px;
}
