<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <header th:fragment="site-header">
      <a class="left-side" th:href="@{/}">Today I Learned</a>
      <ul class="right-side">
        <li><a th:href="@{/submit}">Submit</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
          <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </header>
    
    <header th:fragment="blank-header">
      <a class="left-side" th:href="@{/}">Today I Learned</a>
      <div class="right-side"></div>
    </header>
  
    <header th:fragment="no-submit-header">
      <a class="left-side" th:href="@{/}">Today I Learned</a>
      <ul class="right-side">
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
          <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </header>
  
  
    <p>Hello</p>
  
  </body>
</html>