<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Today I Learned</title>
    <link rel="stylesheet" th:href="@{/style.css}">
  </head>
  <body>
    <h1>Today I Learned</h1>
    
    <div class="submissions">
      <div class="submission" th:each="submission : ${submissions}">
        <div th:text="${submission.title}"></div>
        <div th:text="${submission.body}"></div>
        <div>By <span th:text="${submission.author.username}"></span></div>
      </div>
    </div>

  </body>
</html>