<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Today I Learned</title>
    <link rel="stylesheet" th:href="@{/home.css}">
  </head>
  <body>
    <div class="header">
      <div class="left-side">Today I Learned</div>
      <ul class="right-side">
        <li><a th:href="@{/submit}">Submit</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
          <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </div>
   
    <div class="submissions">
      <div class="submission" th:each="submission : ${submissions}">
        <div class="title"><a th:href="@{/submission/{submissionId}/(submissionId=${submission.id})}"><span th:text="${submission.title}"></span></a></divclass>
        <div class="author">By <a th:href="@{/user/{username}/(username=${submission.author.username})}"><span th:text="${submission.author.username}"></span></a></div>
      </div>
    </div>

  </body>
</html>