<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Today I Learned</title>
    <link rel="stylesheet" th:href="@{/form.css}">
  </head>
  <body>
    <div class="menu">
      <h1>Register</h1>

      <form method="POST" th:action="@{/register}" id="form">
        <table>
          <tbody>
          <tr>
            <td>Email: </td>
            <td>
              <input type="text" name="email"><br/>
            </td>
          </tr>
          <tr>
            <td>Username: </td>
            <td>
              <input type="text" name="username"><br/>
            </td>
          </tr>
          <tr>
            <td>Password: </td>
            <td>
              <input type="password" name="password"><br/>
            </td>
          </tr>
          <tr>
            <td>Confirm password: </td>
            <td>
              <input type="password" name="confirm"><br/>
            </td>
          </tr>
          </tbody>
        </table>
        <input class="submitButton" type="submit" value="Register">
      </form>
    </div>
  </body>
</html>