<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Today I Learned</title>
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
  </head>
  <body>
    <div th:replace="fragments :: site-header"></div>
    <h1><span th:text="${submission.title}"></span></h1>
    <h2>By <span th:text="${submission.author.username}"></span></h2>
    <div th:utext="${submission.htmlBody}"></div>
    <a th:if="${#authentication.name == submission.author.username}" th:href="@{/submit/?edit={id}(id = ${submission.id})}">Edit</a>
  </body>
</html>