<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Today I Learned</title>
    <link rel="stylesheet" th:href="@{/submitForm.css}">
  </head>
  <body>
    <div class="header">
      <div class="left-side">Today I Learned</div>
      <ul class="right-side">
        <li><a th:href="@{/submit}">Submit</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/login}">Login</a></li>
      </ul>
    </div>
  
    <div class="menu">
      <h1>Submit</h1>
      
      <form method="POST" th:action="@{/submit}" id="form">
        
        <label for="title">Title: </label>
        <input type="text" name="title"><br/>
        
        <label for="body">Content: </label>
        <textarea name="body" rows="15" cols="80"></textarea>
        
        <input class="submitButton" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>